.margin{
    margin: 0 15%;
}
ul{
    display: flex;
}

html{
    height: 1500px;
}

header{
    background: #C2FE34;
    nav{
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        ul{
            padding: 0;
            li{
                margin: 0 0 0 1rem;
                padding: 0;
            }
        }
    }
}

.carousel{
    .margin{
        background: grey;
        height: 80vh;
    }
}

.quality{
    background: #53EDAC;
    .margin{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        .right{
            width: 45%;
            p{
                text-align: justify;
            }
        }
    }
}

.philosophy{
    .margin{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        .right{
            width: 45%;
            p{
                text-align: justify;
            }
        }
    }
}

.products{
    background: #C2FE34;
    .products-section{
        padding: 1rem 0;
        margin: 0 auto;
        h2{
            text-align: center;
        }
        p{
            text-align: right;
            margin-right: 2rem;
        }
        .products-images{
            margin: 0 auto;
            ul{
                display: flex;
                justify-content: space-between;
                margin: 1rem 2rem;
                padding: 0;
            }
        }
    }
}

.contact-us{
    .margin{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        
        .right{
            width: 45%;
            padding: 2rem 0 0 0;
            .contact{
                display: flex;
                justify-content: left;
            }
        }
    }
}

footer{
    background: #53EDAC;
    margin: 0;
    ul{
        justify-content: space-between;
        li{
            p{
                width: 45%;
                text-align: justify;
            }
        }
    }
}